#loginUi{
    display: flex;
    flex-direction: column;
}
#loginUi input{
    border-radius: 60px;
    border:1px rgb(48, 134, 233) solid ;
   margin-bottom: 50px;
    width : 400px;
    height: 35px;

}
button{
    border-radius: 60px;
    border:1px rgb(151, 151, 212) solid ;
   margin-bottom: 50px;
    width : 150px;
    height: 40px;
    background-color: rgb(48, 134, 233);
    color: rgb(224, 224, 224);
}
h1{
    margin-bottom: 60px;
    margin-top: 60px;
    color: rgb(48, 134, 233);
}
input::placeholder {
    color: rgb(126, 126, 126);
    padding-left: 20px;
  }