.row{
  margin-top: 60px;
}
h2{
  margin-left :45px;
  margin-top: 30px;
}
.menu {
  width: 300px;
  background-color: rgb(43, 41, 41);
  height: 100%;
  position: absolute;
  top: 0;

}
.wrapper{
  height: 1080px;
}
.contents{
  
  background-color: rgb(253, 253, 253);
  height: 1080px;
  position: relative;

  left: 0;
  margin-left: 300px;
}